.container {
  @apply relative flex h-[180px] w-[165px] flex-col rounded-lg py-[5px] shadow-sm shadow-lightGray;
  transition: 0.25s;
  &:hover {
    @apply cursor-pointer;
    &:hover {
      transform: scale(1.01);
    }
  }
}

.thumbnail {
  @apply pointer-events-none rounded-lg object-cover object-center;
}

.duration {
  @apply absolute left-auto right-2 top-2 flex h-4 w-12 items-center justify-center rounded-md bg-lightGray text-base opacity-80;
}

.info {
  @apply flex flex-col items-center;
}

.title {
  @apply mb-2 ml-1 text-base  font-normal text-lightBlack;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.views {
  @apply ml-1 text-base font-normal text-lightBlack;
}
