.item {
  @apply relative flex w-[23%] flex-col rounded-lg bg-[#eaeaea] shadow-sm shadow-lightGray transition-all;
  &:active {
    @apply bg-darkWhite shadow-md shadow-darkRed;
  }
}

.duration {
  @apply absolute -right-0  top-1 z-10 mr-2 flex h-[20px] w-[58px] items-center justify-center rounded-lg bg-lightBlack text-center text-sm text-darkWhite opacity-[0.85];
}

.thumbnail {
  @apply rounded-lg bg-lightBlack object-center px-1 transition-opacity;
  &:hover {
    @apply cursor-pointer opacity-70;
  }
}

.infoWhite {
  @apply text-base font-light text-darkWhite;
}

.info {
  @apply text-base font-light text-lightBlack;
}

.content {
  @apply mx-1 flex h-[50%] flex-col pb-1;
}

.author {
  @apply mb-2 text-sm font-light;
}

.videoTitle {
  @apply min-h-[56px] text-lg font-medium;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.admin {
  @apply mb-2 flex flex-row-reverse items-end gap-2;
}

.adminButton {
  @apply flex items-center justify-center;
}

.remove {
  @apply h-[20px] w-[20px] text-darkRed transition-opacity;
  &:hover {
    @apply cursor-pointer opacity-40;
  }
}

.update {
  @apply h-[18px] w-[18px] text-blue-400 transition-opacity;
  &:hover {
    @apply cursor-pointer opacity-40;
  }
}

.infoContainer {
  @apply flex flex-row justify-between gap-2 text-sm;
}
